
.App{
  text-align:center;
}
.btnCN{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.btnCN:hover{
  background:#fff;
  color:#1AAB8A;
}
.btnCN:before,.btnCN:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.btnCN:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btnCN:hover:before,.btnCN:hover:after{
  width:100%;
  transition:800ms ease all;
}

.testDiv{
  color:#fff;
  font-size:1.6em;
  transition:800ms ease all;
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}
.testDiv:hover{
  background:#fff;
  color:#1AAB8A;
}

.center{
  padding-right: 25%;
  padding-left: 20%;
}